$color_1: black;

.App {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
    min-height: 100vh;
}

#start, #game, #menu {
    min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $color_1;
}

#menu, #game {
    display: none;
}

p {
	letter-spacing: 20px;
	font-size: 60%;
	color: $color_1;
}

input {
    margin: 10px;
}

button {
    margin: 10px;
}